<header class="navbar navbar-expand-sm bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="./assets/img/video-call-lg.png" class="bi me-2" width="46" height="auto" role="img" aria-label="Online Meeting" alt="online meeting in a computer">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-2 link-secondary" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="add" class="nav-link px-2 link-secondary" routerLinkActive="active-link">Create Room</a></li>
        <li><a routerLink="rooms" class="nav-link px-2 link-secondary" routerLinkActive="active-link">List Rooms</a></li>
      </ul>
    </div>
  </div>
</header>
